.service{
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
}




.leftserv{
    flex-direction: column;
    display: flex;
}

.leftserv :nth-child(1){
    font-size: 50px;
    font-weight: bold;

}

.leftserv :nth-child(2){
    font-size: 20px;
    margin-top: 20px;
    color: grey;
    
}

.cvbtn{
    margin-top: 10px;
    padding: 20px 40px;
    height: 28%;
    width: 40%;
    font-weight: bold;
}