.card{
    
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8% 1%;
    border-radius: 24px;
    background-color: rgb(236, 234, 234);
    text-align: center;
   
    border: 5px solid rgb(193, 193, 238);
    position: absolute;
    margin-left: 45%}


.card span:nth-child(1){
    font-size: 50px;
}

.card span:nth-child(2){
    font-size: 20px;
}


.cardbtn{
    padding: 5px;
    margin-top: 5px;
    border: 1px  rgb(236, 234, 234);
    color: rgb(53, 187, 240);
    cursor: pointer;
    font-size: 20px;
    background-color:  rgb(236, 234, 234);
}

.Card{
    position: relative;
}

.Card *{
    position: absolute;
}



